Repository hagerehiwotlabs/task-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, npm run validate:contracts

fix: resolve Prisma 7 configuration and environment loading issues
  apps/backend/package.json
  apps/backend/prisma.config.ts
  apps/backend/prisma/migrations/20260213154717_initial_schema/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/backend/src/app.module.ts
  apps/backend/src/config/env.ts
  apps/backend/src/main.ts
  apps/backend/tsconfig.json
  package.json
Due: eslint --fix --max-warnings=0, prettier --write

chore(branding): standardize organization name to 'Hagere Hiwot Labs'
  apps/frontend/index.html
  apps/frontend/src/App.tsx
  docs/README.md
  docs/architecture/DECISIONS.md
  docs/architecture/README.md
  docs/onboarding/DEVELOPER_GUIDE.md
  docs/onboarding/README.md
  docs/onboarding/SETUP_GUIDE.md
  docs/team/GIT_WORKFLOW.md
  docs/team/README.md
  docs/team/ROLES_AND_RESPONSIBILITIES.md
  docs/team/TEAM_RULES.md
  package-lock.json
  packages/contracts/package.json
  packages/contracts/src/openapi.yaml
  packages/ui/package.json
  scripts/setup.sh
  scripts/verify.sh
Due: eslint --fix --max-warnings=0, prettier --write, npm run validate:contracts

fix: rename pipeline to tasks in turbo.json for Turborepo 2.0 compatibility
  turbo.json
Due: prettier --write

chore: fix linting and TypeScript configuration across packages
  apps/backend/eslint.config.js
  apps/backend/package.json
  apps/frontend/eslint.config.js
  apps/frontend/package.json
  apps/frontend/tsconfig.json
  package-lock.json
  packages/contracts/eslint.config.js
  packages/contracts/package.json
Due: eslint --fix --max-warnings=0, prettier --write

feat: complete monorepo setup with all refinements
  apps/backend/eslint.config.js
  apps/backend/package.json
  apps/backend/prisma.config.ts
  apps/backend/prisma/migrations/20260213154717_initial_schema/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/backend/src/app.module.ts
  apps/backend/src/config/env.ts
  apps/backend/src/main.ts
  apps/backend/tsconfig.json
  apps/frontend/eslint.config.js
  apps/frontend/index.html
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/tsconfig.json
  docs/README.md
  docs/architecture/DECISIONS.md
  docs/architecture/README.md
  docs/onboarding/DEVELOPER_GUIDE.md
  docs/onboarding/README.md
  docs/onboarding/SETUP_GUIDE.md
  docs/team/GIT_WORKFLOW.md
  docs/team/README.md
  docs/team/ROLES_AND_RESPONSIBILITIES.md
  docs/team/TEAM_RULES.md
  package-lock.json
  package.json
  packages/contracts/eslint.config.js
  packages/contracts/package.json
  packages/contracts/src/openapi.yaml
  packages/ui/package.json
  scripts/setup.sh
  scripts/verify.sh
  turbo.json
Due: eslint --fix --max-warnings=0, prettier --write, npm run validate:contracts

test: add placeholder test to pass CI
  apps/backend/test/placeholder.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: add frontend placeholder test and install jsdom
  apps/frontend/package.json
  apps/frontend/src/test/placeholder.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

ci: regenerate to use vitest run for frontend tests to exit in CI
  package-lock.json
Due: prettier --write

feat(api): add missing task update/delete endpoints and align client types
  apps/frontend/src/api/client.js
  packages/contracts/src/generated/types.ts
  packages/contracts/src/openapi.yaml
Due: eslint --fix --max-warnings=0, prettier --write, npm run validate:contracts

refactor(api): migrate client.js to TypeScript and fix lint errors
  apps/frontend/src/api/client.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: improve Prisma studio reliability and remove redundant config
  apps/backend/package.json
  apps/backend/prisma.config.ts
  package-lock.json
Due: eslint --fix --max-warnings=0, prettier --write

docs: fix GitHub repository URLs in documentation files
  docs/README.md
  docs/onboarding/DEVELOPER_GUIDE.md
  docs/onboarding/SETUP_GUIDE.md
Due: prettier --write

docs: add role-specific developer guides
  docs/guides/backend-developer.md
  docs/guides/frontend-developer.md
  docs/onboarding/README.md
Due: prettier --write

style: enforce consistent formatting with Prettier
  .prettierignore
  apps/frontend/src/api/client.ts
  docs/guides/backend-developer.md
  docs/guides/frontend-developer.md
  packages/contracts/scripts/generate-types.js
  packages/contracts/src/generated/types.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: correct contracts type exports and add vite/client types to frontend
  apps/frontend/tsconfig.json
  packages/contracts/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(frontend): add node types to resolve global in test setup
  apps/frontend/tsconfig.json
Due: prettier --write

style: format tsconfig.json to match project standards
  apps/frontend/tsconfig.json
Due: prettier --write

ci: build packages before tests, enable coverage in CI and add 'test:coverage' script that runs vitest with coverage
  .github/workflows/ci.yml
  apps/backend/package.json
  apps/frontend/package.json
Due: prettier --write

ci: add debugging for contracts build
  .github/workflows/ci.yml
Due: prettier --write

ci: add debugging steps to verify contracts build output
  .github/workflows/ci.yml
Due: prettier --write

ci: add debugging steps to diagnose frontend build failure
  .github/workflows/ci.yml
Due: prettier --write

style: format ci.yml to match project standards
  .github/workflows/ci.yml
Due: prettier --write

ci: fix build order by explicitly building contracts first
  .github/workflows/ci.yml
Due: prettier --write

chore: integrate initial setup fixes (#5)
  .github/workflows/ci.yml
  .prettierignore
  apps/backend/package.json
  apps/backend/prisma.config.ts
  apps/frontend/package.json
  apps/frontend/src/api/client.ts
  apps/frontend/tsconfig.json
  docs/README.md
  docs/guides/backend-developer.md
  docs/guides/frontend-developer.md
  docs/onboarding/DEVELOPER_GUIDE.md
  docs/onboarding/README.md
  docs/onboarding/SETUP_GUIDE.md
  package-lock.json
  packages/contracts/scripts/generate-types.js
  packages/contracts/src/generated/types.ts
  packages/contracts/src/index.ts
  packages/contracts/src/openapi.yaml
Due: eslint --fix --max-warnings=0, prettier --write, npm run validate:contracts

chore: add project board automation workflow
  .github/workflows/project-automation.yml
Due: prettier --write

chore: add project board automation workflow (#39)
  .github/workflows/project-automation.yml
Due: prettier --write

fix: correct permissions
  .github/workflows/project-automation.yml
Due: prettier --write

fix: remove invalid permission key
  .github/workflows/project-automation.yml
Due: prettier --write

ci: remove invalid create event and permissions from project automation workflow
  .github/workflows/project-automation.yml
Due: prettier --write

fix: correct project automation workflow syntax (#40)
  .github/workflows/project-automation.yml
Due: prettier --write

ci: fix GraphQL query and validate-pr-links script in project automation workflow
  .github/workflows/project-automation.yml
Due: prettier --write

fix GraphQL query and validate-pr-links script in project automation workflow
  .github/workflows/project-automation.yml
Due: prettier --write

style: format .github/workflows/project-automation.yml to match project standards
  .github/workflows/project-automation.yml
Due: prettier --write

fix: prevent script failure in link-pr-to-issue job when branch name has no issue number
  .github/workflows/project-automation.yml
Due: prettier --write

docs: add MIT License to the project
  LICENSE
Due: none

docs: add root README with a project-focused introduction covering features, tech stack, quick start, and structure
  README.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml,css,scss})) or (any of: *.prisma)
  npm run validate:contracts: any of: packages/contracts/src/openapi.yaml
